# ignore ALL files in ANY of the subdirectories
log
counter
data
maps

# ignore the sessions files
include/session.php
include/mailer.php
include/form.php
include/database.php
include/constants.php
process.php

# ignore pages
.gitignore
hamburger_1.php
ProjectSettings.json
VSWorkSpaceState.json
.suo
Browse.VC.db
slnx.sqlite
translations_automated_navigational_languages.txt
UnknownWebPages.php
_css/jplayer.playlist.BlueMonday.css
_css/jplayer.BlueMonday.css
buildPlaylistVideo.php
createPlaylistVideoFromDownloads.php
buildVideoPlaylistVideoTitle.php

# ignore log and bak and ods and odt files
*.zip
**/*.zip
api/*.txt
api/*.json
metadata/English/*.odt
metadata/**/*.htm
metadata/English/*.xml
*.bak
**/*.bak
*.log
**/*.log
*.csv
**/*.csv
*.ods
**/*.ods
*.odt
**/*.odt
**/**/*.odt
include/conn.inc.php
include/databaseConnection.php
jPlayerPlaylist.php
PlaylistVideo.cvc
images/Corel Auto-Preserve/jplayer.blue.monday.video.play.png
images/Deditos Logo - Zack and Mijo.png
images/DeditosIcon.png
404.shtml
.htaccess
php.ini
phpinfo.php
