# ignore ALL files in ANY directory named log
log/
counter/
data/

# ignore the sessions files
include\session.php
include\mailer.php
include\form.php
include\database.php
include\constants.php
process.php

# ingore log files
*.log
**/*.log