# ignore ALL files in ANY of the subdirectories
log
counter
data
data/*
data/**/*
data/**/**/*
data/**/**/**/*
maps

# ignore the sessions files
include/session.php
include/mailer.php
include/form.php
include/database.php
include/constants.php
include/databaseConnection.php
process.php

# ignore pages
.gitignore
Dockerfile
compose.yaml
.dockerignore
include/conn.inc.php
include/conn.inc.AWStats.php

# ignore metadata htm and xml files
metadata/**/*.htm
metadata/English/*.xml
