@charset "utf-8";

/*
    00-Scripturee.css
	Created by Scott Starker
*/

* {
    margin: 0;
    padding: 0;
}

/**************************************************************
    begin jQuery
**************************************************************/
table {
    width: 100%;
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
/**************************************************************
    end jQuery
**************************************************************/

body {
    background-color: black;
    /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    margin: 0;
    padding: 0;
    /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    text-align: center;
    height: 100%;
    width: 100vw;
    /*background-image: url('images/00i-BackgroundFistPage.jpg');*/
    /*height: 700px;  You must set a specified height */
    /*background-position: center;  Center the image */
    /*background-repeat: no-repeat; Do not repeat the image */
}

h1 {
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 1.8em;
}

h2 {
    margin: 0 auto 8px auto;
    width: 80%;
    font-size: 1em;
}

h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

p {
    margin: 0;
    padding: 0;
}

input,
button {
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    border: 0;
}

label {
    display: block;
    margin: 30px 0 0 0;
}

select {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.3rem;
    margin-top: 10px;
}

/*select {
    width: 50px;
    width: auto;
    height: auto;
}*/

option {
    color: black;
    background-color: white;
    font-family: Chivo, 'Gill Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 11pt;
    /*border: 1px solid #e4e4e4;*/
    /* safari: */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*box-shadow: inset 20px 20px #f00;
    text-align-last: left;*/
}

/*option {
    text-align: left;
    margin: 0;
    font-size: .8em;
}*/

/*option:checked, option:hover {		 doesn't work for firefox
    background-color: white;
    /* color: #c0c0c0; * /
    cursor: pointer;
    /*border: 1px solid red;* /
    /*box-shadow: inset 20px 20px #00f;* /
}*/

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .84em;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
}

/* ************************************************************************

        begin hamburger
        
************************************************************************* */
.toggler {
    /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
    position: absolute;
    z-index: 10;
    /* Can't see it though. So, use the "Tools" from the menu of the browse, click on "Browser Tools", click on "Web Developer Tools". */
    /* On the bottom menu click on "Inspector". Find <input id"togglerID" class="toggler" type="checkbox">. */
    top: 2px;									/* top position */
    width: 30px;								/* width of position */
    right: 26px;								/* right position */
    height: 30px;								/* height of position */
    opacity: 0;									/* invisible! */
    cursor: pointer;
}
.toggleLanguage {								/* Importent! .toggleLanguage goes AFTER .toggle! */
    top: 85px;
    right: 149px;
}

.hamburger {
    position: absolute;
    top: 8px;									/* top of hamburger */
    right: -62px;								/* right of hamburger */
    height: 40px;
    width: 40px;
    padding: 0.6rem 0.3rem;
    /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 68px;
    margin-top: -9px;
    z-index: 5;
}

/* CREATING THE MIDDLE LINE OF THE HAMBURGER : */
.hamburger>div {
    /* postition of hamburger */
    position: relative;
    top: -13px;
    right: 4px;									/* right of lines */
    left: -10px;								/* left of lines */
    background-color: white;					/* color of the middle line */
    height: 2px;								/* height of the middle line */
    width: 60%;									/* width  of the three lines */
    transition: all 0.4s ease;
}

/* CREATING THE TOP AND BOTTOM LINES : TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */
.hamburger>div::before,
.hamburger>div::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 0;
    background-color: white;					/* color of the top and bottoms lines */
    width: 100%;								/* width of the top and bottom lines */
    height: 2px;
    transition: all 0.4s ease;
}

.hamburger>div::after {
    top: 10px;
    right: 0;
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */
/* A toggled state! No JavaScript! */
/* If the .toggler:checked is checked the label '.hamburger>div' the CSS gets executed includeing ::before and ::after. */
.toggler:checked+.hamburger>div {
    background: rgba(0, 0, 0, 0);				/* black so it is invisible */
}

.toggler:checked+.hamburger>div::before {
    top: 0;
    transform: rotate(45deg);
    /* background: black; */
    /* half of the color of "X" 
    background: white;*/
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */
.toggler:checked+.hamburger>div::after {
    top: 0;
    transform: rotate(135deg);
    /*background: black;*/
    /* half of the color of "X" 
    background: white;*/
}

/* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */
.menu {
    position: absolute;
    z-index: 5;
    /*left: -48px;
    background: white;*/
    /*background-color: rgba(0, 0, 0, 0.7);*/
    /*position: relative;*/
    /*margin-left: auto;
    margin-right: 0;							 right hand side */
    /*width: 20%;									/* what this the width for??? */
    /*height: 100vh;								/* what this the height for??? */
    /* APPLYING TRANSITION TO THE MENU : */
    /*transition: all 0.4s ease;*/
}

/* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */
.toggler:checked~.menu {
    width: 30%;									/* width of menu */
    /* width: 300px; */
    /* height: 600px;								height: 100vh;*/
}

/* STYLING THE LIST :  */
.menu>div>ul {
    background-color: rgba(0, 0, 0, 0.7);
    /* APPLYING TRANSITION TO THE MENU :  */
    /*transition: all 0.4s ease;*/
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 116px;
    right: 70px;								/* text menu to the right */
    /*padding-left: 20px;*/
    width: 340px;								/* position of hambuger menu texts */
    height: 100vh;
    margin-top: -5px;							/* position of hambuger menu texts */
    padding-top: 5px;
    /* over from left side */
    /* HIDDEN INITIALLY  :  */
    visibility: hidden;
}
.menuDivUlLanguage {							/* Importent! .menuDivUlLanguage goes AFTER .menu>div>ul! */
    margin-top: -18px;							/* position of hambuger menu texts */
}

.menu>div>ul>li {
    display: inline flow;
    list-style: none;
    padding: 0.3rem;
    /* line height */
    margin-left: 30px;
    /*margin-right: -100px;*/
    text-align: left;
}

.menu>div>ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Chivo, 'Gill Sans', Tahoma, Geneva, Verdana, sans-serif;
}

/* WHEN THE TOGGLER IS CHECKED, CHANGE THE VISIBILITY TO VISIBLE :  */
.toggler:checked~.menu>div>ul {
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    visibility: visible;
}

.toggler:checked~.menu>div>ul>li>a:hover {
    /*color: orange;*/
    color: #d36355;
    /* 400 = normal; 700 = bold */
    font-weight: 600;
}

.toggler:checked~.menu>div>ul>li>a:after {
    /* won't work */
    background-color: #101010;
}

.menu>div>ul>div>li {
    margin-right: -100px;
}

.menu>div>ul>div>li>a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-family: Chivo, 'Gill Sans', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -26px;
}

.toggler:checked~.menu>div>ul>div>li>a:hover {
    color: #d36355;
    /* 400 = normal; 700 = bold */
    font-weight: 600;
}

.toggler:checked~.menu>div>ul>div>li>a:after {
    /* won't work */
    background-color: #101010;
}
/* ************************************************************************

        end hamburger

************************************************************************* */

::placeholder {
    color: #ccc;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc;
}

/****************************************************************
    menu begin
****************************************************************/
/* 3 menu "select"s */
/* navigational languages drop-down */

#sL, #sC, #navLang {
    /* "select" tag: #sL = "select Language"; #sC = "select Country"; #navLang = "select nothing" */
    position: absolute;
    z-index: 5;
    top: -6px;
    /*right: 101px;*/
    left: -48px;									/* left for the select nav. lang. */
    /*color: #4079b0; */
    color: white;
    /* background-color: white;*/
    font-size: 100%;
    border-style: none;
    padding: 3px;
    padding-left: 16px;
}
#navLang {
    margin-left: -7px;
}

.helpSelection {
    position: relative;
    z-index: 5;
    margin-left: 5px;
    margin-right: -8px;
    margin-bottom: -10px;
}

/* .menu (up above) */
/* end  */

.selectOption {
    /* none "navigational language" "select" tag; from 00-Scripture.css */
    color: black;
    /* background-color: #e4e4e4; 
    background-color: white;*/
    border: 1px solid #111;
    font-weight: normal;
    font-size: 12pt;
    padding: 3px;
    padding-left: 10px;
    margin: 0;
}

#background_header {
    /* position of icon and text for "country" and "nothing" search sections; from 00-Scripture.css */
    position: absolute;
    z-index: 5;
    top: 0;
    /*background-position: top left 100px;			/* top of page */
    background-repeat: no-repeat;					/* Do not repeat the image */
    background-size: 460px;
    height: 190px;
    margin-top: -4px;
}
#empty {
    margin-left: 5px;
    min-width: 440px;							/* this works along side of #background_header width */
    height: 80px;
}

#background {
    /* position of earth; from 00-Scripture.css */
    position: relative;
    z-index: -20;
    top: 100px;
    background-position: top;					/* top of page */
    background-repeat: no-repeat;				/* Do not repeat the image */
    background-size: 740px;
    /*height: auto;*/
    height: 840px;
    /*width: 720px;*/
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#copyright {
    position: relative;
    top: 270px;
    line-height: 0px;
    border: none;
    margin: 0;
    padding: 0;
}

#copyright div {
    color: #777;
    font-size: .8em;
}

.mapIframe {
    width: 835px;
    height: 620px;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 5px solid #00B1F2;
}
.mapKey {
    font-size: smaller;
    margin-top: 8px;
}
.formNavAndHelp {
    position: absolute;							/* position of the "select navigational language" and "Help" */
    top: 80px;
    right: 0px;
    width: 170px;
    display: block;
}
.countryBlackTopImage {
    background-color: black;
    height: 120px;
    position: absolute;
    left: 0;
    width: 100%;
}
/****************************************************************
    menu end
****************************************************************/

div.countryCounter {
    position: relative;
    top: -680px;
    width: 30%;
    display: inline-block;
    border: thin solid black;
    padding: 10px;
    background-color: lightgray;
}

#aboutLang {
    cursor: pointer;
}

#aboutLang:hover {
    color: light-gray;
    font-weight: bold;
    font-size: .9em;
    color: #36F;
}

#FCBHb,
#OTTable,
#NTTable {
    display: none;
}

/*#OTListenNow,
#NTListenNow {
    display: none;
}*/

#individualLanguage {
    margin-left: 4px;
    margin: 0 auto;
    color: white;
    width: 90%;
    border: 1px solid gray;
    padding: 10px;
}

#individualLanguage tr {
    vertical-align: middle;
}

#individualLanguage td {
    font-size: 1.1em;
    /*font-weight: bold;*/
    color: navy;
}

#OTTable,
#NTTable {
    clear: both;
    width: 775px;
    margin: 5px auto 0 auto;
    /*font-weight: bold;*/
    font-size: 11pt;
}

#eBibleClick {
    display: none;
}


/* red audio bar */

div.ourFlashPlayer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /*font-weight: bold;*/
    font-size: 12pt;
    /*display: inline;*/
    display: inline-block;
    background-color: #600000;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 16px;
    box-shadow: 16px;
    margin-left: 75px;
    /* the left space of the main bar of the jp audio player */
    height: 28px;
    /* the height of the main bar of the jp audio player */
    margin-top: 11px;
    /* the top space of the main bar of the jp audio player */
    margin-bottom: 100px;
    /* doesn't do anything */
}

div.autonymLanguageNames,
div.alternativeLanguageNames,
div.Country,
div.languageCode {
    color: black;
    font-size: 1.1em;
    /*font-weight: bold;*/
}

span.autonymLanguageName,
span.alternativeLanguageName,
span.Country,
span.languageCode {
    color: navy;
    font-size: 1.1em;
    font-weight: normal;
}

div.autonymLanguageNames,
div.alternativeLanguageNames,
span.autonymLanguageName,
span.alternativeLanguageName {
    font-size: 1.2em;
}

div.FCBH {
    float: right;
    margin: 0px;
    padding: 0px;
}

div.OTAudio,
div.NTAudio {
    color: navy;
    font-size: 1em;
    /*font-weight: bold;*/
    /*margin-top: 10px;*/
}

div.ourListenNow {
    display: none;
    clear: both;
    height: 18px;
    margin-left: 290px;
    margin-bottom: 20px;
    padding-top: 5px;
    /* IE 8 */
    margin-top: 30px;
    padding-bottom: 12px;
    /* Portuguese and Dutch and Spanish:
	margin-left: 170px;
	margin-top: 40px;
	*/
}

div.ourPlaylistAudioNow {
    display: none;
    clear: both;
    margin-left: 40px;
}

div.lineCategories {
    clear: both;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.lineItem {
    font-size: 12pt;
    /*font-weight: bold;*/
    color: navy;
    margin: 0px;
}

span.lineItem:link,
span.lineItem:visited,
span.lineItem:active {
    text-decoration: none;
}

span.lineItem:hover {
    text-decoration: underline;
}

span.lineAction {
    /*color: crimson;*/
    color: navy;
}

span.lineAction,
span.lineAction:link,
span.lineAction:visited,
span.lineAction:active {
    text-decoration: none;
}

span.lineAction:hover {
    text-decoration: underline;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: navy;
}

a:hover {
    text-decoration: underline;
}

img.BlueBar {
    padding-left: 0px;
    clear: both;
    width: 800px;
    /* sets the iframe correctly */
    height: 13px;
}

p.TheWordText {
    display: inline-block;
    vertical-align: middle;
    width: 730px;
    /*font-weight: bold;*/
    color: navy;
    font-size: 1em;
}


/********************************************************************************
 		Begin default 3 input text lines from 00-MainScript.inc.php
********************************************************************************/

/*
		first section
*/

.enter {
    margin-top: -580px;
    /*font-weight: bold;*/
    /*width: 1000px;*/
    margin-left: auto;
    margin-right: auto;
}

.enter>div {
    margin-bottom: 22px;
    /* all of the 3 entry inputs */
}


/*#showLanguageID {}*/


/*#showCountryID {}*/


/*#listCountriesID {}*/


/* div for "List by Country" button */

#listCountriesID > button {
    border: solid 2px #33628d;
    vertical-align: middle;
    width: 60%;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 1.5em;
    background-color: #4079b0;
    color: white;
    background-image: url('../images/listCountry.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
}


input[type=text] {
    border: solid 2px #33628d;
    vertical-align: middle;
    width: 60%;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 1.5em;
    background-color: #4079b0;
    color: white;
    background-image: url('../images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
}


/* "Home" botton */

button.homeAllCountries {
    position: relative;
    left: -40%;
    top: -145px;
    display: none;
    margin-left: 0;
    max-width: 20%;
    color: white;
    background-color: #4079b0;
    text-decoration: none;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 1em;
}


/* countries list */

#countryList {
    margin-top: -36px;
    display: none;
}

.OpaqueWhite {
    height: 276px;
    margin-top: -266px;
    width: 65%;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    border-radius: 25px;
    opacity: 0.5;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: -5;
}


/*
		second section
*/

#container {
    /*width: 46em;*/
    margin: 0 auto;
    /* the auto margins (in conjunction with a width) center the page */
    text-align: center;
}

#mainContent {
    padding: 0;
    /* remember that padding is the space inside the div box and margin is the space outside the div box */
    margin: 0;
    margin-top: 160px;
}


/* 'About this site' botton */

div.button {
    color: white;
    background-color: #4079b0;
    text-decoration: none;
    padding: 10px;
    display: inline;
    cursor: pointer;
}

div.button:hover,
div.button:focus {
    background-color: #4d92d3;
}


/* "Home" button */

#statements {
    position: relative;
    left: -40%;
    top: -260px;
    display: none;
}

button.homeAbout {
    color: white;
    background-color: #4079b0;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    padding: 6px 10px;
}


/* 6 navigational languages: 5 options */

div.site {
    display: none;
    /*margin-left: -40px;*/
}

img.myShadow {
    width: 10%;
    height: 0;
    display: inline;
}

#feedback {
    cursor: pointer;
    position: relative;
    top: -610px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    /*display: inline;*/
    /*height: 30px;*/
    /*vertical-align: bottom;*/
    /*border: 1px solid black;
	padding-top: 10px;
	background-color: #4079b0;
	z-index: 20;
	float: left;
	left: 5px;*/
}

#feedback div {
    color: white;
    background-color: #4079b0;
    font-size: 1em;
    font-weight: normal;
    line-height: 20px;
    /* button height */
    margin-left: -6px;
    padding: 6px 8px 6px 8px;
    border-radius: 16px;
    border-radius: 16px;
    box-shadow: 16px;
}

/********************************************************************************
 		End default 3 input text lines from 00-MainScript.inc.php
********************************************************************************/


/********************************************************************************
 		Begin function showCountry from LangSearch.js
********************************************************************************/

.countryTitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 480px;
}

.countryTitleLine {
    line-height: 40px;
    color: #4079b0;
    background-color: white;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 10px;
}


/********************************************************************************
 		End function showCountry from LangSearch.js
********************************************************************************/


/**************************************************************************************************************
 		Begin from LangSearch.js, 00-CountryTable.inc.php and 00_BegList.php
***************************************************************************************************************/

.pick {
    color: navy;
    display: block;
    margin-bottom: -20px;
}

.pick:hover {
    color: #A82120;
    background-color: #FFFFCC;
    font-weight: bold;
    cursor: pointer;
}

.pickCountry:hover {
    color: #A82120;
    background-color: #FFFFCC;
    font-weight: bold;
    cursor: pointer;
}

.pickCountry {
    border-top: solid thin black;
    background-color: white;
    color: #A82120;
    line-height: 50px;
    font-size: 110%;
    width: 480px;
    margin: 0 auto;
}


/**************************************************************************************************************
 		End from LangSearch.js, 00-CountryTable.inc.php and 00_BegList.php
***************************************************************************************************************/


/********************************************************************
		Begin 00-MainScript.inc.php in 00-MajorLanguageAbout.inc.php
********************************************************************/

li.aboutText {
    text-decoration: none;
    /*margin-left: auto;
	margin-right: auto;*/
    /*display: block;*/
    display: inline;
    /*width: 440px;*/
    background-color: lightgray;
    padding: 10px 20px;
    border: solid thin black;
    color: #A82120;
    cursor: pointer;
}

li.aboutText:hover {
    background-color: #FFFFCC;
}


/********************************************************************
		End 00-MainScript.inc.php in 00-MajorLanguageAbout.inc.php
********************************************************************/


/********************************************************************
		Begin one Country from 00-MainScript.inc.php
********************************************************************/


/* "Home" botton */

#homeCountry {
    /*display: block;*/
    position: relative;
    /*left: 0px;
	top: 50px;*/
    left: 11%;
    top: -670px;
    /*position: relative;
	top: -140px;
	left: 0;*/
    /*margin: 0;*/
    max-width: 0px;
}

button.homeCountryButton {
    display: inline;
    margin: 0 auto;
    /*max-width: 90px;*/
    color: white;
    background-color: #4079b0;
    text-decoration: none;
    padding: 5px 6px 2px 6px;
    cursor: pointer;
    font-size: 1em;
}


/* navigational languages drop-down */

div.FormCountry {
    position: relative;
    max-width: 20%;
    left: 70%;
    top: -700px;
    margin: 0;
}


/********************************************************************
		End one Country from 00-MainScript.inc.php
********************************************************************/


/********************************************************************
		Begin Language Name from 00-MainScript.inc.php
********************************************************************/

div.menuBar {
    border-top-color: #777;
    border-top-style: solid;
    border-top-width: thin;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

div.MajorLanguages {
    background-color: #333;
    /*position: relative;
	top: 0px;
	width: 70%;
	margin: 0 auto;*/
}


/* "Home" botton */

div.MajorLanguages button {
    /*float: left;*/
    /*margin-top: 20px;*/
    /*margin-top: 2px;*/
    margin-left: 0%;
    /*color: white;
	background-color: #4079b0;*/
    color: #4079b0;
    background-color: #FFF;
    /*padding: 5px 6px 2px 6px;*/
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
    border-style: none;
    font-size: 100%;
    cursor: pointer;
    display: inline;
}


/********************************************************************
		End Language Name from 00-MainScript.inc.php
********************************************************************/


/****************************************************************************************************************************************************
	Begin "Language Search" on function showLanguage (LangSearch.js) and "Country Search" in 00-CountryTable.inc.php and 00_BegList.php
*****************************************************************************************************************************************************/

#countryTable {
    /* 00-CountryTable.inc.php */
    position: relative;
    top: -700px;
    /*display: table;
	text-align: left;*/
    height: 100px;
    /*min-height: 100px;*/
    width: 80%;
    margin: 0 auto;
}

div.langCol {
    height: 100px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

div.langCol::after {
    content: "";
    clear: both;
    display: table;
}


/******************
	first section
******************/

div.colFirst,
div.countryFirst {
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: auto;
    color: #000082;
    background-color: white;
    font-weight: bold;
    font-size: 1em;
}

p.colLN1,
p.colAlt1,
p.colCode1,
p.colCountry1,
div.countryLN1,
div.countryAlt1,
div.countryCode1,
div.countryCountry1 {
    border: none;
}

p.colLN1,
div.countryLN1 {
    float: left;
    width: 30%;
}

p.colCode1,
div.countryCode1 {
    float: right;
    width: 10%;
}

p.colCountry1,
div.countryCountry1 {
    float: right;
    width: 20%;
}

p.colAlt1,
div.countryAlt1 {
    float: left;
    width: 40%;
}


/*********************
	second sections
*********************/

div.colSecond,
div.countrySecond,
div.moreThanOneRODCode {
    color: navy;
    clear: both;
    border: none;
    width: 100%;
    text-align: left;
    overflow: hidden;
    font-size: .9em;
}

div.langCol>div.colSecond:nth-of-type(odd):hover,
div.langCol>p.colSecond:nth-of-type(odd):hover,
div.langCol>div.colSecond:nth-of-type(even):hover,
div.langCol>p.colSecond:nth-of-type(even):hover,
#CT>div.countrySecond:nth-of-type(odd):hover,
#CT>p.countrySecond:nth-of-type(odd):hover,
#CT>div.countrySecond:nth-of-type(even):hover,
#CT>p.countrySecond:nth-of-type(even):hover,
div.MTORODCode>div.moreThanOneRODCode:nth-of-type(odd):hover,
div.MTORODCode>div.moreThanOneRODCode:nth-of-type(even):hover {
    color: #A82120;
    background-color: #ffc;
    font-weight: bold;
    cursor: pointer;
}


/* to color odd children in parent-container with children of type div */

div.langCol>div.colSecond:nth-of-type(odd),
div.langCol>p.colSecond:nth-of-type(odd),
#CT>div.countrySecond:nth-of-type(odd),
#CT>p.countrySecond:nth-of-type(odd),
div.MTORODCode>div.moreThanOneRODCode:nth-of-type(odd),
div.MTORODCode>p.moreThanOneRODCode:nth-of-type(odd) {
    background-color: #fff;
}


/* to color odd children in parent-container with children of type div */

div.langCol>div.colSecond:nth-of-type(even),
div.langCol>p.colSecond:nth-of-type(even),
#CT>div.countrySecond:nth-of-type(even),
#CT>p.countrySecond:nth-of-type(even),
div.MTORODCode>div.moreThanOneRODCode:nth-of-type(even),
div.MTORODCode>p.moreThanOneRODCode:nth-of-type(even) {
    background-color: #eef1f2;
}

div.colLN2,
div.colAlt2,
div.colCode2,
p.colCountry2,
div.countryLN2,
div.countryAlt2,
div.countryCode2,
p.countryCountry2 {
    border: none;
}

div.colLN2,
div.countryLN2,
div.moreThanLN2 {
    float: left;
    width: 30%;
}

div.colLN2>div,
div.countryLN2>div {
    font-style: italic;
    font-size: 8pt;
}

div.colCode2,
div.countryCode2,
div.moreThanCode2 {
    float: right;
    width: 9%;
}

a.indivCountry,
a.indivCountry:hover {
    text-decoration: none;
    color: black;
}

p.colCountry2,
p.countryCountry2,
p.moreThanCountry2 {
    float: right;
    width: 17%;
    overflow: auto;
}

div.colAlt2,
div.countryAlt2,
div.moreThanAlt2 {
    float: left;
    width: 38%;
    overflow: auto;
}

div.colLN2,
div.countryLN2,
div.countryCode2,
div.colCode2,
div.moreThanLN2,
div.moreThanCode2 {
    height: 34px;
    padding-left: 10px;
    padding-bottom: 18px;
    padding-top: 24px;
}

p.colCountry2,
p.countryCountry2,
p.moreThanCountry2 {
    height: 34px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 24px;
}

div.colAlt2,
div.countryAlt2,
div.moreThanAlt2 {
    height: 34px;
    padding-left: 10px;
    padding-bottom: 18px;
    padding-top: 16px;
}


/**************************************************************************************************************************************************
	End "Language Search" on function showLanguage (LangSearch.js) and "Country Search" in 00-CountryTable.inc.php and 00_BegList.php
***************************************************************************************************************************************************/

.aboutButton {
    color: white;
    margin-top: -450px;
    margin-left: 3px;
}

.aboutMyButton {
    position: relative;
    top: -580px;
    left: -240px;
}

.myFormButton {
    margin-top: -500px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url('../images/listCountry.png');
    background-color: #4079b0;
}

div.MajorLanguagesCountries {
    position: relative;
    top: -700px;
    width: 80%;
    margin: 0 auto;
}

div.MajorLanguagesCountries button {
    float: left;
    margin-top: 20px;
    color: white;
    background-color: #4079b0;
    padding: 5px 6px 2px 6px;
    font-size: 1em;
    cursor: pointer;
}

div.MajorLanguagesCountries form {
    float: right;
    margin-top: 20px;
    color: white;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #4079b0;
}

div.langCounter {
    color: #444;
    border: thin solid #888;
    padding: 5px;
    background-color: #ddd;
    margin: 0 auto;
    font-size: small;
}

#langBackground {
    position: absolute;
    background-position: inherit;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
}


/* just the header icon */

img.langHeader {
    position: relative;
    top: 0px;
    z-index: 1;
    width: 40%;
    height: 40%;
}

#langEmpty {
    width: 100%;
    max-height: 85px;
}

#empty {
    /*width: 100%;
    max-height: 100px;*/
}

.overflow {
    height: 200px;
}

/*table.langTable {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	color: black;
	display: table;
	height: 100px;
	min-height: 100px;
}*/

/***********************************************************************
    Specific Language
***********************************************************************/
img.iconActions {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;
    vertical-align: middle;
    border-style: none;
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin-right: 4px;
}
div.linePointer {
    cursor: pointer;
    display: inline;
}
div.linePointer:hover {
    border-bottom: 2px solid red;
}

/* for the tables */
#Dis_BibleIsReadAudio, #Dis_BibleIsRead, #Dis_BibleIsReadAudioVideo, #Dis_BibleIsAudio, #Dis_BibleIsAudioVideo,
#Dis_BibleIsVideo, #Dis_BibleIsReadVideo,
#Dis_SAB, #Dis_BibleIs, #Dis_viewer, #Dis_OT_PDF, #Dis_NT_PDF, #Dis_OT_Audio, #Dis_NT_Audio, #Dis_PlaylistAudio, #Dis_BibleIsGospelFilm,
#Dis_PlaylistVideo, #Dis_watch, #Dis_YouVersion, #Dis_buy, #Dis_GRN, #Dis_study, #Dis_otherTitles, #Dis_otherTitles_download,
#Dis_links, #Dis_eBible, #Dis_SILlink, #Dis_SB, #Dis_GooglePlay, #Dis_All, #Dis_PlaylistVideo, #Dis_PlaylistVideo_download, #Dis_App,
#Dis_BibleIsSAB, #Dis_BibleIsGospelFilmSAB, #Dis_YouVersion, #Dis_NotAndroidiOS, #Dis_moreLinks, #Dis_maps, #Dis_OT_Audio_download,
#Dis_NT_Audio_download, #Dis_otherTitles_videoDownload, #Dis_Map {
    display: none;
}

/* style the tab */
.tab, .CCtab {
    /*overflow: hidden;*/
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 34px;
    padding-bottom: 12px;
    transition: 0.4s;
}
.CCtab button {
    background-color: inherit;
    /*float: left;
    border: none;
    outline: none;*/
    font-size: .9em;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /*transition: 0.4s;*/
}
/* change background color of buttons on hover */
.tab button:hover, .CCtab button:hover {
    background-color: #ddd;
}
/* create an active/current tablink class */
.tab button.active, .CCtab button.active {
    background-color: #ccc;
}
/* tab icon width */
.tablinks {
    width: 14.28%;
}
.CCtablinks {
}
/* individual width and height of the icons */
#tabText, #tabAudio, #tabVideo, #tabApp, #tabOther, #tabMap, #tabAll {
    width: 60px;
    height: 60px;
    margin-top: 21px;
}
/* text to the icons */
figcaption {
    font-size: 130%;
    text-align: center;
}
