@charset "utf-8";

textarea {
	color: navy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	border-style: none;
	display: inline-block;
	resize: none;
}
tr {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}
td {
	color: #080860;
	font-weight: normal;
	margin: 0;
	padding: 7px 6px;
}

#CountryTable {
	width: 790px;			/* width of the country iframe correctly */
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
	font-size: 10pt;
    border-collapse: separate;
    border-spacing: 0 2px;
}
#CountryTable tr td:nth-child(odd):hover {
	color: #A82120;
	background-color: #FFFFCC;
	font-weight: bold;
	cursor: pointer;
}​
