@charset "utf-8";
	html, body {
		margin: 0;
		padding: 0;
		font-size: 1em;
	}
	body {
		font-family: Arial, Helvetica, sans-serif;
		width: 1020px;
		margin: 14pt auto 14pt auto;
		background-color: #069;
	}
	h2 {
		margin-top: 30pt;
		margin-bottom: 12pt;
	}
	input {
		font-family: Arial, Helvetica, sans-serif;
	}
	div.nav {
		border-top: solid 1px gray;
		border-bottom: solid 1px gray;
		padding-top: 9px;
		padding-bottom: 7px;
		font-weight: bold;
		vertical-align: middle;
		font-size: 11pt;
	}
	div.nav a {
		text-decoration: none;
		color: #006699;
	}
	div.nav a:hover {
		text-decoration: underline;
	}
	div.enter {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	#OT_Books, #OT_Audio, #NT_Books, #NT_Audio {
		display: none;
	}
	#CountryTable {
		width: 1020px;					/* width of the country iframe correctly */
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 0px;
		font-size: 10pt;
	}
	div.languageName {					/* individual name at the top of the screen */
		color: navy;
		font-size: 22pt;
		font-weight: bold;
		float: left;
		margin-left: 25px;
		margin-bottom: 15px;
	}
	table.languageNames {
		width: 1020px;					/* width of the country window */
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		margin-left: 25px;
		padding: 0;
	}
	th.secondHeader {
		padding-left: 5px;
		text-align: left;
		color: #C3BC88;
	}
	th.secondHeaderSelection {
		padding-left: 5px;
		text-align: left;
		color: navy;
	}
	#languageName {
		width: 100%;
		text-align: left;
		vertical-align: bottom;
		display: block;
	}
	#languageCode {
		width: 100%;
		text-align: left;
		vertical-align: bottom;
		display: none;
	}
