@charset "utf-8";
html,
body {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1020px;
    margin: 14pt auto 14pt auto;
    background-color: #069;
}

h2 {
    margin-top: 30pt;
    margin-bottom: 12pt;
}

input {
    font-family: Arial, Helvetica, sans-serif;
}

div.nav {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding-top: 9px;
    padding-bottom: 7px;
    font-weight: bold;
    vertical-align: middle;
    font-size: 11pt;
}

div.nav a {
    text-decoration: none;
    color: #006699;
}

div.nav a:hover {
    text-decoration: underline;
}

div.enter {
    margin-top: 5px;
    margin-bottom: 5px;
}

table.examines {
    /*width: 1020px;*/
    /* width of the country window */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 20x;
    padding: 0;
}

th.secondHeader {
    padding-left: 5px;
    text-align: left;
    color: #C3BC88;
}

#examine {
    width: 100%;
    text-align: left;
    /*vertical-align: bottom;*/
    /*display: block;*/
}