@charset "utf-8";

/*
	IMPORTANT! div.container height and div.iframeStyle	height are the 
*/

html,
body {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    background-color: white;
    /* #AEB2BE */
    background-image: url(../images/background.png);
    height: 100%;
    margin: 0;
    /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
    text-align: center;
    /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    color: #000000;
}

h2 {
    margin-top: 30pt;
    margin-bottom: 12pt;
}

div {
    text-align: left;
}

div.all {
    margin: 0;
    /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 20px 0;
    /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    background-color: #AEB2BE;
    background-image: url(../images/background_top.png);
    background-repeat: repeat-x;
}

#container {
    width: 980px;
    /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
    /*height: 720px;*/
    /* the height of the container in order for "shadow" will function correctly */
    background-color: white;
    margin: 0 auto;
    /* the left and right auto margins (in conjunction with a width) center the page */
    padding: 0;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    text-align: left;
}

#manualTranslation {
    clear: both;
    margin-top: 88px;
    float: right;
}


/* This Automatic Translator script from Google. */

#google_translate_element {
    margin-top: 88px;
    margin-bottom: 0px;
    padding: 0px;
    float: right;
}

a,
a:hover,
a:link,
a:active {
    color: navy;
    text-decoration: none;
    border-style: none;
}

a.country,
a.country:hover,
a.country:link,
a.country:active {
    color: navy;
    font-size: 11pt;
    text-decoration: underline;
    font-weight: normal;
    line-height: 26px;
    margin: 0 0 0 10px;
    padding: 3px 5px 3px 5px;
}

div.countryBackground {
    float: left;
    margin-top: 0px;
    min-height: 503px;
    width: 150px;
    background-image: url(./images/grayNav.png);
    background-repeat: repeat-x;
    background-color: #B0B8C1;
    background-size: 100%;
    /*position: fixed;			These four lines are to make the iframe image strech (but it doesn't work the iframe).
	top: 0;						
	left: 0;
	height: 100%;*/
}

div.countryMain {
    font-size: 14pt;
    font-weight: bold;
    margin-left: 15px;
    /* left margin in the display of countries */
}


/* remember that padding is the space inside the div box and margin is the space outside the div box */

#bottomBanner {
    width: 980px;
    /* width and height of the graphic of the bottom banner */
    height: 80px;
    background-image: url(../images/btmBaner_wbtc.png);
    background-repeat: no-repeat;
    border-left: solid 2px black;
    /*border-bottom: solid 2px black;*/
    clear: left;
    position: relative;
    left: -2px;
    top: 20px;
    /* the top position of the banner */
}

#bottomBanner ul {
    margin: 0;
}

ul.ulEnglish,
ul.ulSpanish,
ul.ulPortuguese,
ul.ulDutch,
ul.ulFrench,
ul.uGerman,
ul.uChinese {
    padding-left: 230px;
    /* use padding-left and width to make the words correct position */
    width: 750px;
    display: block;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    margin: 0;
    clear: both;
}

ul.ulFrench,
ul.ulSpanish {
    font-size: 9pt;
    padding-top: 1px;
}

li.bottomBannerText {
    vertical-align: middle;
    display: inline;
    margin: 0 5px 0 5px;
    padding: 0;
}

a.bottomBannerWord {
    color: #4b4b4b;
    text-decoration: none;
}

div.languages {
    clear: both;
    position: relative;
    top: 88px;
    /* Firefox: 88px; IE8: 69px; Safari: px; Opera: px; Netscape: px */
}

div.counter_Scripture {
    float: right;
    font-size: 10pt;
    border: maroon 2px solid;
    background-color: #eeeeee;
    margin: 9px 15px 16px 10px;
    /* Firefox: margin: 9px 15px 16px 10px; IE8: 9px 17px 18px 10px; Safari: 9px 15px 16px 10px; Opera: 9px 15px 18px 10px; Netscape: px */
    position: relative;
    z-index: 1;
    padding: 3px 8px 3px 8px;
}

div.googleSearch {
    float: right;
    margin: 0px 10px 0px 0px;
}

div.breadCrumbs {
    float: right;
    font-size: 10pt;
    margin-right: 20px;
    padding-top: 3px;
}


/* On IE8 the height is wrong for the localhost and is correct for Internet! */

.languageChoices {
    text-align: right;
    font-weight: bold;
    margin: 0;
}

.languageChoiceSelected {
    font-weight: bold;
    color: #080860;
    background-color: #D2DFFA;
    vertical-align: middle;
    /*display: inline;*/
    font-size: .8em;
    margin: 5px 0 0 0;
    padding: 0 0 0 5px;
    border: 0px solid black;
    line-height: 1.1em;
    /* Netscape 9: 1.2em */
    height: 1.5em;
    /* padding: 1px 19px 1px 10px; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.languageChoiceDefault {
    color: #D2DFFA;
    background-color: #080860;
    vertical-align: middle;
    padding-left: 8px;
    border: 0px solid black;
    /*display: inline;*/
}


/*a.languageChoiceDefault {
	color: white;
	text-decoration: none;
	line-height: 27px;
	margin: 0;
	padding: 0px 10px 0px 10px;
}*/

div.languageName {
    /* individual name at the top of the screen */
    color: navy;
    font-size: 22pt;
    font-weight: bold;
    float: left;
    margin-left: 25px;
    margin-bottom: 15px;
}

table.languageNames {
    width: 765px;
    /* width of the country window */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 25px;
    padding: 0;
}

iframe.callI,
ilayer.callI,
div.callI,
div.callR {
    width: 800px;
    /* 800 and ? */
    margin: 0 auto 0 15px;
    padding: 0;
    background-color: white;
    border-left: 2px solid #080860;
    border-top: 2px solid #080860;
    border-right: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
}

div.callI {
    min-height: 412px;
}

div.callR {
    min-height: 376px;
}

iframe.iframeCountries,
ilayer.ilayerCountries {
    overflow: visible;
    width: 147px;
    /* 147 and ? */
    margin: 0 auto 0 auto;
    border-style: none;
}

img.iconActions {
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: middle;
    padding: 0px;
    border-style: none;
    height: 40px;
    width: 45px;
}

img.action {
    margin-top: 14px;
    margin-left: 20px
}

div.WycliffeCanadaIcon {
    cursor: pointer;
    display: inline;
    padding: 0px 0px 60px 250px;
}

#languageName {
    width: 100%;
    text-align: left;
    vertical-align: bottom;
    /*display: block;*/
}

#languageCode {
    width: 100%;
    text-align: left;
    vertical-align: bottom;
    /*display: none;*/
}

th.secondHeader {
    padding-left: 5px;
    text-align: left;
    color: #C3BC88;
}

th.secondHeaderSelection {
    padding-left: 5px;
    text-align: left;
    color: navy;
}

#languageName th.secondHeader:nth-child(3):hover {
    background-color: #FFFFCC;
}

#languageName th.secondHeader:nth-child(3):hover a:hover {
    color: #A82120;
}

#languageCode th.secondHeader:first-child:hover {
    background-color: #FFFFCC;
}

#languageCode th.secondHeader:first-child:hover a:hover {
    color: #A82120;
}

div.iframeStyle {
    float: left;
    margin-left: 0px;
    margin-top: 0px;
}

#SpecificLang {
    float: left;
    margin: 0;
    padding: 0;
}

div.LangNames {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}

#one,
#two {
    color: #C3BC88;
    text-align: left;
}