@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 1020px;
	background-color: #069;
	margin: 14pt;
	margin-left: auto;
	margin-right: auto;
}
div.nav {
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	padding-top: 9px;
	padding-bottom: 7px;
	font-weight: bold;
	vertical-align: middle;
	font-size: 11pt;
}
div.nav a {
	text-decoration: none;
	color: #006699;
}
div.nav a:hover {
	text-decoration: underline;
}
div.enter, div.MajorLang {
	margin-top: 5px;
	margin-bottom: 5px;
}
div.MajorLang {
	font-size: 10pt;
}
div.MajorLang span {
	font-size: 12pt;
	font-weight: bold; 
}
div.MajorLang input {
	color: navy;
	font-weight: bold;
}
h2 {
	margin-top: 30pt;
	margin-bottom: 12pt;
}
#OT_Books, #OT_Audio, #NT_Books, #NT_Audio {
	display: none;
}
#livesearch {
	margin: 0px;
	/*width: 194px;
	float: left;
	border: 3px solid green;
	padding: 2px 4px 2px 4px;*/
	position: relative;
	top: 0px;
	left: 0px;
}
#ISO {
	margin: 0px;
}
input {
 font-family: Arial, Helvetica, sans-serif;
}
