@charset "utf-8";

/* 00-SpecificLanguage.css
	Specific Language css
	Created by Scott Starker
	March 2019
*/

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

input,
button {
    font-family: Arial, Helvetica, sans-serif;
}

#aboutLang {
    cursor: pointer;
}

#aboutLang:hover {
    color: light-gray;
    font-weight: bold;
    font-size: .9em;
    color: #36F;
}

#FCBHb,
#OTTable,
#NTTable {
    display: none;
}

#OTListenNow,
#NTListenNow {
    /*display: none;*/
}

.individualLanguage {
    margin-left: 4px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white;
    width: 90%;
    border: 1px solid gray;
    padding: 10px;
}

.individualLanguage tr {
    vertical-align: middle;
}

.individualLanguage td {
    font-size: 1.1em;
    /*font-weight: bold;*/
    color: navy;
}

#OTTable,
#NTTable {
    clear: both;
    width: 775px;
    margin: 5px auto 0 auto;
    /*font-weight: bold;*/
    font-size: 11pt;
}

#eBibleClick {
    display: none;
}


/* red audio bar */

div.ourFlashPlayer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /*font-weight: bold;*/
    font-size: 12pt;
    display: inline;
    background-color: #600000;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-box-shadow: 16px;
    display: inline-block;
    margin-left: 75px;
    /* the left space of the main bar of the jp audio player */
    height: 28px;
    /* the height of the main bar of the jp audio player */
    margin-top: 11px;
    /* the top space of the main bar of the jp audio player */
    margin-bottom: 100px;
    /* doesn't do anything */
}

div.alternativeLanguageNames,
div.Country,
div.languageCode {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.1em;
    /*font-weight: bold;*/
    text-align: left;
    margin-left: 20px;
}

span.alternativeLanguageName,
span.Country,
span.languageCode {
    color: navy;
    font-size: 1.1em;
    font-weight: normal;
}

div.alternativeLanguageNames,
span.alternativeLanguageName {
    font-size: 1.2em;
}

div.FCBH {
    float: right;
    margin: 0px;
    padding: 0px;
}

div.OTAudio,
div.NTAudio {
    float: left;
    color: navy;
    font-size: 1em;
    /*font-weight: bold;*/
    /*margin-top: 10px;*/
}

div.ourListenNow {
    display: none;
    clear: both;
    height: 18px;
    margin-left: 290px;
    margin-bottom: 20px;
    padding-top: 5px;
    /* IE 8 */
    margin-top: 30px;
    padding-bottom: 12px;
    /* Portuguese and Dutch and Spanish:
	margin-left: 170px;
	margin-top: 40px;
	*/
}

div.ourPlaylistAudioNow {
    display: none;
    clear: both;
    margin-left: 40px;
}

div.lineCategories {
    clear: both;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.lineItem {
    font-size: 12pt;
    /*font-weight: bold;*/
    color: navy;
    margin: 0px;
}

span.lineItem:link,
span.lineItem:visited,
span.lineItem:active {
    text-decoration: none;
}

span.lineItem:hover {
    text-decoration: underline;
}

span.lineAction {
    /*color: crimson;*/
    color: navy;
}

span.lineAction,
span.lineAction:link,
span.lineAction:visited,
span.lineAction:active {
    text-decoration: none;
}

span.lineAction:hover {
    text-decoration: underline;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: navy;
}

a:hover {
    text-decoration: underline;
}

img.BlueBar {
    padding-left: 0px;
    clear: both;
    width: 800px;
    /* sets the iframe correctly */
    height: 13px;
}

p.TheWordText {
    display: inline-block;
    vertical-align: middle;
    width: 730px;
    /*font-weight: bold;*/
    color: navy;
    font-size: 1em;
}

.selectOption {
    color: navy;
    background-color: white;
    /*font-weight: bold;*/
    font-size: .9em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}