.book     {font-family:Charis SIL; width:95%; height:95%; overflow:auto; padding:10px; text-align:justify; display:block;}
a:link	  {text-decoration:none; color:blue}
a:visited {text-decoration:none; color:blue}
a:active  {text-decoration:none; color:blue}
a:hover   {text-decoration:none; color:blue}
.selectBox {background-color:#ffffcc; visibility:hidden; position:absolute;}
.selectBoxTitle {color:#663300;}
.subjectSelect {width:220px;}

table    {}
tr       {}
th       {}
td       {}

#selectDiv   {display:block;}
#bookDiv     {display:block;}
#pvContainer {visibility:hidden;}
#svContainer {visibility:hidden;}


.id      {display:none;}
.ide     {display:none;}
.h       {display:none;}
.toc1    {display:none;}
.toc2    {display:none;}
.toc3    {display:none;}
.restore {display:none;}

.add     {font-style:italic;}
.bd      {font-weight:bold;}

/** 2011-05-12 ***********************************/
.ior     {font-size:16px; font-style:italic;}
.iot     {font-size:18px; display:block; text-align:center; margin-top:6px; margin-bottom:4px; ;}
.io      {font-size:16px; display:block;margin-left:.15in;}
.io1     {font-size:16px; display:block;margin-left:.15in;}
.io2     {font-size:16px; display:block;margin-left:.25in;}
.io3     {font-size:16px; display:block;margin-left:.35in;}
.io4     {font-size:16px; display:block;margin-left:.45in;}
.io5     {font-size:16px; display:block;margin-left:.55in;}
/*************************************************/

/** 2011-07-01 (div) ***********************************/
.imt     {font-weight:bold; display:block; text-align:center;}
.imt1    {font-weight:bold; display:block; text-align:center;}
.imt2    {font-weight:bold; display:block; text-align:center;}
.imt3    {font-weight:bold; display:block; text-align:center;}
.is      {font-weight:bold; display:block; text-align:center;}
.is1     {font-weight:bold; display:block; text-align:center;}
.is2     {font-weight:bold; display:block; text-align:center;}
.is3     {font-weight:bold; display:block; text-align:center;}
/******************************************************/

/** 2013-06-18 *****************************************/
.ms, .mr     {display:block; font-weight:bold; text-align:center;}
.rq          {font-style:italic; font-size:smaller;}
/******************************************************/

/** 2013-08-02 *****************************************/
.it		 {font-style: italic;}
.ip		 {display: block;}
/*******************************************************/

.k       {font-size:18px; font-weight:bold;}
.nd      {}
.m       {display:block; margin-top:10px; margin-bottom:10px;}
.mt      {font-size:24px; display:block; text-align:center; }
.mt1     {font-size:24px; display:block; text-align:center; margin-top:20px; margin-bottom:10px; }
.mt2     {font-size:18px; display:block; text-align:center; font-style:italic; margin-top:20px; margin-bottom:10px; }
.mt3     {font-size:18px; display:block; text-align:center; margin-top:20px; margin-bottom:10px; }
.st      {font-size:24px; display:block; text-align:center; }
.c       {font-size:20px; display:block; text-align:center; margin-top:20px; margin-bottom:-15px; }
.s       {font-size:18px; display:block; text-align:center; font-weight:bold; margin-top:20px; margin-bottom:10px; }
.ms      {font-size:24px; display:block; text-align:center; font-weight:bold; margin-top:10px; }
.ms1     {font-size:24px; display:block; text-align:center; font-weight:bold; margin-top:10px; }
.ms2     {font-size:20px; display:block; text-align:center; font-weight:bold; margin-top:10px; }
/** 2011-08-24 ****************************************/
.s1		 {font-size:10pt; font-weight:bold; display:block; line-height:35pt; margin-bottom:-9px;}
/******************************************************/
.sc      {font-size:12px;}
.p       {display:block;margin-top:4pt;text-indent: 50px;}
.ip      {display:block;margin-top:4pt;text-indent: 50px;}
.pc      {display:block; text-align:center;}
.b       {display:block;}
.li      {padding-left:.20in;}
.li1     {padding-left:.20in;}
.li2     {padding-left:.30in;}
.q       {display:block; margin-left:.25in; margin-right:.25in;}
.q1      {display:block; margin-left:.15in; margin-right:.15in;}
.q2      {display:block; margin-left:.25in; margin-right:.25in;}
.q3      {display:block; margin-left:.35in; margin-right:.35in;}
.v       {font-size:10px; vertical-align:super;}
.vtext   {}
.r       {font-size:16px; display:block; text-align:center; font-style:italic;}

.x       {display:none;} 
.xo      {font-size:10px; vertical-align:sub; color:blue;} 
.xt      {font-size:10px; vertical-align:sub; color:blue;}

