	body {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 14px;
		/*text-transform: lowercase;*/
		color: #6f6f6f;
		/*background: #dfdfdf;*/
        background-color: black;
		background-image: url('../images/background_earth.jpg');
		background-position: center center; /* center the background image */
		background-repeat: no-repeat; /* prevent tiling */
		background-size: contain; /* scale image to always fill the viewport/container */
	}
	h1, h2, h3 {
		margin-top: 0px;
		font-weight: normal;
		color: #6f6f6f;
	}
	h1 {
		/*letter-spacing: -3px;*/
		font-size: 34px;
	}
	a {
		color: #6f6f6f;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	.credits {
		text-align: center;
	}
/* Contact Form */
  	.ax-outer {
		max-width: 600px;
		width: 92%;
		margin: 20px auto;
		background: #FFF;
		padding: 20px;
		box-sizing: border-box;
		-webkit-border-radius: 10px;    /* for Safari */
		-moz-border-radius: 10px;       /* for Firefox */
		border-radius: 10px 10px 10px 10px; /* for some reason you have to declare all corners in ie. It must be ie9+ */
	}
	.ax-label {
		display: block;
		margin-bottom: 6px;
	}
	.ax-input, .ax-textarea, .ax-select {
		margin: 0 0 20px 0;
		padding: 10px;
		width: 100%;
		box-sizing: border-box;
		color: #6f6f6f;
		border: 1px solid #dfdfdf;
		font: normal 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
		/*text-transform: lowercase;*/
		-webkit-border-radius: 10px;    /* for Safari */
		-moz-border-radius: 10px;       /* for Firefox */
		border-radius: 10px 10px 10px 10px; /* for some reason you have to declare all corners in ie. It must be ie9+ */
	}
	.ax-select {
		width: 100%;
	}
	.ax-textarea {
		min-height: 140px;
	}
	.ax-button{
		height: 42px;
		width: 100%;
		display: block;
		border: none;
		margin-top: 20px;
		background: #6f6f6f;
		color: #FFF;
		padding: 0 0 6px 0;
		text-align: center;	
		cursor: pointer;
		font: normal 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
		-webkit-border-radius: 10px;    /* for Safari */
		-moz-border-radius: 10px;       /* for Firefox */
		border-radius: 10px 10px 10px 10px; /* for some reason you have to declare all corners in ie. It must be ie9+ */
	}
	@media (min-width: 600px) {
		.ax-button { width: 200px; }
	}
	@media (max-width: 480px) {
		h1 { font-size: 24px; }
	}
	.error {
		color: red;
		margin: 0;
	}