	body {
		margin: 0px;
		padding: 0px;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 14px;
		/*text-transform: lowercase;*/
		color: #6f6f6f;
		background: #dfdfdf;
	}
	h1, h2, h3 {
		margin-top: 0px;
		font-weight: normal;
		color: #6f6f6f;
	}
	h1 {
		/*letter-spacing: -3px;*/
		font-size: 34px;
	}
	a {
		color: #6f6f6f;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	.credits {
		text-align: center;
	}
/* Contact Form */
   .ax-outer {
		width: 450px;
		margin: 40px auto;
		background: #FFF;
		padding: 20px;
		-webkit-border-radius: 10px;    /* for Safari */
		-moz-border-radius: 10px;       /* for Firefox */
		border-radius: 10px 10px 10px 10px; /* for some reason you have to declare all corners in ie. It must be ie9+ */
	}
	.ax-label {
		display: block;
		margin-bottom: 6px;
	}
	.ax-input, .ax-textarea, .ax-select {
		margin: 0 0 20px 0;
		padding: 6px;
		width: 430px;
		color: #6f6f6f;
		border: 1px solid #dfdfdf;
		font: normal 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
		/*text-transform: lowercase;*/
		-webkit-border-radius: 10px;    /* for Safari */
		-moz-border-radius: 10px;       /* for Firefox */
		border-radius: 10px 10px 10px 10px; /* for some reason you have to declare all corners in ie. It must be ie9+ */
	}
	.ax-select {
		width: 450px;
	}
	.ax-textarea {
		height: 100px;				
	}
	.ax-button{
		height: 42px;
		width: 134px;
		display: block;
		border: none;
		margin-top: 30px;
		background: #6f6f6f;
		color: #FFF;
		padding: 0 0 6px 0;
		text-align: center;	
		cursor: pointer;
		font: normal 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
		-webkit-border-radius: 10px;    /* for Safari */
		-moz-border-radius: 10px;       /* for Firefox */
		border-radius: 10px 10px 10px 10px; /* for some reason you have to declare all corners in ie. It must be ie9+ */
	}
	.error {
		color: red;
		margin: 0;
	}